html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family: 'Poppins', sans-serif;
}

a, button{
  font-family: 'Poppins', sans-serif;
  outline: none !important;
}

.container-fluid{
	width: 95%;
}

/* bg block */

.bg-blue{
	background: $color-blue;
}

/* page layout */
.content-padding{
	padding-top: 3em;
	padding-bottom: 3em;
}
.wrapper-50{
	max-width: 65%;
    margin: 0 auto;
}
.box-flex{
	display: flex;
	flex-wrap: wrap;
	&.inline{
		display: inline-flex;
		flex-wrap : nowrap;
	}
	&.half{
		.cols{
			flex: 0 0 50%;
			margin:  0 auto;
		}
	}
}

/* banner */
.banner{
	&.detail{
		.tag{
			position: absolute;
			bottom: 0;
			right: 0;
			.top{
				background: $color-d-blue;
				padding: 5px 15px;
				color: $color-white;
			}
			.bottom{
				background: $color-yellow;
				padding: 5px 15px;
				font-style: italic;
			}
		}
		.action{
			position: absolute;
			top: 1rem;
			right: 2rem;
			a{
				color: #ffffffad;
				font-size: 2rem;
			}
			a:hover{
				color: $color-yellow;	
			}
		}
	}
	&.half-banner{
		position: relative;
   		z-index: 22;
   		.banner-container{
   			display: flex;
		    position: relative;
		    top: -1px;
		    .left-block{
		    	display: flex;
			    flex-direction: column;
			    width: 80%;
			    position: relative;
			    z-index: 2;
			    pointer-events: auto;
			    flex: 0 1 auto;
			    .social-icon{
			    	display: block;
			    	flex-direction: column;
				    position: absolute;
				    z-index: 4;
				    width: 24px;
				    left: 30px;
				    top: 15%;
				    ul{
				    	list-style: none;
					    padding: 0;
					    li{
					    	margin-bottom: 1.5rem;
					    	&li:last-child{
					    		margin-bottom: 0;
					    	}
					    	a{
					    		color: $color-yellow;
					    		font-size: 20px;
					    	}
					    }
				    }
			    }
			    .image-container{
			    	position: relative;
			    	.caption{
			    		z-index: 4;
					    left: 15%;
					    top: 15%;
					    .tagline{
					    	width: 75%;
						    line-height: 2;
						    font-size: 25px;
					    }
			    	}
			    	.caption::before{
			    		content: '';
					    display: block;
					    height: 1px;
					    width: 30%;
					    background: #fea621;
					    margin-bottom: 1em;
			    	}
			    	&.image-container::before{
			    		content: '';
					    display: block;
					    width: 100%;
					    height: 100%;
					    background: #020e1b8f;
					    position: absolute;
					    top: 0;
			    	}
			    	img{
			    		width: 100%;
			    	}
			    }
		    }
		    .right-block{
		    	display: flex;
			    flex-direction: column;
			    width: 25%;
			    flex: 0 1 auto;
		    	.blocker{
		    		display: flex;
				    background-color: #002c52;
				    width: 103%;
				    height: 50%;
				    flex: 0 1 auto;
		    	}
		    	.content-navigate{
		    		display: flex;
				    background-color: $color-white;
				    width: 100%;
				    height: 100%;
				    flex: 0 1 auto;
				    .newsletter-widget{
				    	width: 100%;
						padding: 2rem 1.5rem;
						form{
							margin-top: 15px;
						}
						.field{
							margin-bottom: 15px;
							.input-field{
								padding: 10px 15px;
							    font-size: 18px;
							    width: 100%;
							    border-radius: 10px;
							    border: 1px solid $color-blue;
							}
						}
				    }
				    .post-links-section{
				    	width: 100%;
					    min-height: 100%;
					    padding: 10%;
					    .post-links-block{
					    	display: block;
					    	list-style: none;
					    	li{
					    		display: flex;
							    align-items: center;
							    justify-content: space-between;
							    a{
							    	color: $color-grey;
							    	font-size: 20px;
							    }
							    .link-line{
							    	display: none;
							    	width: 56px;
								    height: 2px;
								    background-color: $color-blue;
								    padding-left: 35px;
							    }
					    	}
					    	li.active{
					    		a{
								    color: $color-blue;
					    		}
					    		.link-line {
								    display: flex;
								}
							}
					    }
				    }
		    	}
		    }
   		}
	}
	&.home{
		position: relative;
		.carousel-inner{
			height: 82vh;
		}
		.carousel-item{
			height: 100%;
		    img{
		    	height: 100%;
			    object-fit: cover;
		    }
		}
		.carousel-item::after {
		    content: '';
		    display: block;
		    width: 100%;
		    background: #071f33ab;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		}
		a.carousel-control-prev {
		    display: none;
		}
		.carousel-caption{
			left: 8%;
			right: inherit;
			top: 7em;
			bottom: inherit;
			text-align: left;
			&.carousel-caption::before{
				content: '';
			    display: block;
			    background: $color-yellow;
			    height: 1px;
			    width: 50%;
			    margin-bottom: 1rem;
			}
			button{
				margin-top: 2rem;
			}
		}
		.social-media{
			position: absolute;
		    bottom: 1em;
		    right: 4em;
		    a{
				color: $color-white;
				padding: 0.5rem 9px;
				font-size: 20px;
			}
		}
	}
}

.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
