$break-tablet-rotate: 1024px;
$break-tablet: 800px;
$break-tablet-to-phone: 768px;
$break-mobile: 500px;
$break-small-mobile: 320px;

/* large */

@media (min-width: 1680px){
  .home-services-left-block {
      padding: 80px 100px;
  }
  .video-nav-block {
      padding: 10px 0 10px 25px;
    li {
      padding: 15px 0;
    }
    .nav-link-line {
        width: 40px;
        margin-left: 28px;
    }
  }
  .gallery{
    .modal-header{
      display: none;
    }
    .modal-content{
      max-width: inherit !important;
      width: inherit;
    }
  }
}

@media (min-width: 1440px){
  .home-services-left-block {
      padding: 60px 80px 90px;
  }
  .gallery{
    .modal-header{
      display: none;
    }
    .modal-content{
      max-width: inherit !important;
      width: inherit;
    }
  }

}

@media (max-width: 1366px){
  .home-services-left-block {
      padding: 50px;
  }
}


/*break-tablet-rotate*/
@media screen and (min-width: 900px) and (max-width: 1024px){
  header{
    position: inherit !important;
    .animated-icon1 span {
        background: $color-yellow;
    }
    .info-section{
      background: #ffc500;
      padding: 1rem 2rem !important;
    }
    .info-section .infos{
      padding: 0;
      margin-top: 15px;
    }
    .info-section .infos li{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .infos .icon{
      flex: 0 0 10%;
    }
    .infos .text{
      flex: 0 0 90%;
    }
    .info-section .social-media{
      right: 0;
      bottom: 0;
    }
    .info-section .social-media li{
      display: inline-block;
      padding-right: 15px;
    }
    .info-section .social-media li a{
      color: #333;
      font-size: 2rem;
    }
  }
  .desktop{
    display: none;
  }
  .navbar.mobile{
    display: inherit !important;
    margin: 0;
  }
  header .navbar-light .navbar-nav .nav-link {
      color: #ffffff !important;
  }
  .navbar.mobile .col-md-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar.mobile .navbar-toggler{
    margin: 1em 0;
    float: right;
    position: relative;
    z-index: 999;
    border:0;
    outline: none;
  }
  .navbar.mobile .navbar-nav{
    background: $color-blue;
    padding: 15px 0;
  }
  .navbar.mobile .nav-item:after{
    margin: 0;
    margin-top: 1px !important;
    width: 10% !important;
  }
  .navbar.mobile .navbar-collapse{
    transition: 300ms all ease-in-out; 
    position: absolute;
    width: 0%;
    left: 0%;
    z-index:99;
  }
  .navbar.mobile .navbar-collapse.show{
    width: 100%;
  }

  .wrapper-50 {
    max-width: 90%;
  }

  header.blue-navs{
    top: 0;
    .nav-holder-card:before{
      right: 0 !important;
    }
  }
  
 .banner.half-banner{
  margin-top: 6em;
  .banner-container{
    .left-block{
      width: 70%;
      .image-container .caption{
        h1{
          font-size: 30px;
        }
        .tagline {
            width: 85%;
            line-height: 2;
            font-size: 20px;
        }
      }
    }
    .right-block{
      width: 30%;
      .blocker{
        display: none;
      }
      .content-navigate{
        .post-links-section{
          padding: 0;
          .post-links-block li a {
            font-size: 16px;
          }
        }
      }
    }
  }
 }

 .about-profile{
    min-height: 65vh;
    height: auto;
    .about-block{
      .about-left-block{
        .profile-image{
          width: 150px;
          height: 150px;
        }
      }
    }
 }

 .vm-block{
  height: auto;
  .vm-right-block{
    .corner-bottom{
      display: none;
    }
  }
 }
 .listing-group-profile {
  .tiny-box{
    width: 200px;
    height: 200px;
    .name {
        font-size: 13px;
    }
  }
 }

  .experience-section {
    .flex-content{
      .exp-item{
        width: 100%;
        .image-container{
          .caption{
            .cap-overlay{
              width: 80%;
            }
          }
        }
      }
    }
  }

  .news-content{
    .post-item{
      .image-container{
        height: 45vh;
      }
    }
    .sidebar{
      .widget.post-list-small{
        .flex-item-post{
          .left-block{
            .image-container{
              height: 10vh;
            }
          }
        }
      }
    }
  }

  footer .newsletter form .field{
    width: 19%;
  }
}

/* break-tablet-to-phone */
@media screen and (max-width: 768px){
  .desktop{
    display: none;
  }

  header{
    position: inherit !important;
    .animated-icon1 span {
        background: $color-yellow;
    }
    .info-section{
      background: #ffc500;
      padding: 1rem 2rem !important;
      box-shadow: 0 5px 5px #00000026;
    }
    .info-section .infos{
      padding: 0;
      margin-top: 15px;
    }
    .info-section .infos li{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .infos .icon{
      flex: 0 0 10%;
    }
    .infos .text{
      flex: 0 0 90%;
    }
    .info-section .social-media{
      right: 0;
      bottom: 0;
    }
    .info-section .social-media li{
      display: inline-block;
      padding-right: 15px;
    }
    .info-section .social-media li a{
      color: #333;
      font-size: 2rem;
    }
  }
  
  .navbar.mobile{
    display: inherit !important;
    margin: 0;
  }
  header .active:after{
    background: $color-yellow !important;
  }
  header .navbar-light .navbar-nav .nav-link {
      color: #ffffff !important;
  }
  .slick-arrow{
    display: none !important;  
  }
  .navbar.mobile .col-md-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar.mobile .navbar-toggler{
    margin: 1em 0;
    float: right;
    position: relative;
    z-index: 999;
    border:0;
    outline: none;
  }
  .navbar.mobile .navbar-nav{
    background: $color-blue;
    padding: 15px 0;
  }
  .navbar.mobile .nav-item:after{
    margin: 0;
    margin-top: 1px !important;
    width: 10% !important;
  }
  .navbar.mobile .navbar-collapse{
    transition: 300ms all ease-in-out; 
    position: absolute;
    width: 0%;
    left: 0%;
    z-index:99;
  }
  .navbar.mobile .navbar-collapse.show{
    width: 100%;
  }

  header .caption{
    padding: 15px; 
  }

  .home-services{
    flex-wrap: wrap;
    .home-services-left-block{
      width: 100%;
    }
    .home-services-right-block{
      width: 100%;
      .video-nav-block li a .nav-link{
        letter-spacing: 1px;
        font-size: 9px;
      }
    }
  }
  .home-about{
    img{
      margin-bottom:10px; 
    }
  }
  .wrapper-50{
    max-width: 100%;
  }
  .contact-section{
    .box-flex.half .cols {
      flex: 0 0 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  .banner.half-banner{
  margin-top: 6em;
  .banner-container{
    .left-block{
      width: 70%;
      .image-container .caption{
        h1{
          font-size: 30px;
        }
        .tagline {
            width: 85%;
            line-height: 2;
            font-size: 16px;
        }
      }
    }
    .right-block{
      width: 30%;
      .blocker{
        display: none;
      }
      .content-navigate{
        .post-links-section{
          padding: 0;
        .post-links-block li a{
          font-size: 15px;
        }
        }
      }
    }
  }
 }

 .about-profile{
    min-height: 80vh;
    height: auto;
    .about-block{
      .about-left-block{
        width: calc(35% - 30px);
        .lined-title{
          font-size: 17px;
        }
        .profile-image{
          width: 150px;
          height: 150px;
        }
      }
      .about-right-block{
        width: calc(65% - 30px);
      }
    }
 }

 .vm-block{
  height: auto;
  .vm-left-block{
    .block-text{
      h3{
        font-size: 30px;
      }
    }
  }
  .vm-right-block{
    .image-container{
      .caption{
        width: 400px;
        h3{
          font-size: 20px;
        }      
      }
    }
    .corner-bottom{
      display: none;
    }
  }
 }
 .listing-group-profile {
    .tiny-box{
      width: 200px;
      height: 200px;
      .name {
          font-size: 13px;
      }
    }
  }

  .service-section{
    .service-block{
      flex-wrap: wrap;
      .service-left-block, .service-right-block{
        width: 100%;
      }
      .service-left-block{
          .caption{
            overflow-y: scroll;
            height: 303px;
          }
      }
      .service-right-block{
        .accordion .card .card-header{
          padding-left: 15px;
        }
      }
      .accordion .card .card-body{
        padding: 15px;
      }
    }
  }

  .experience-section {
    .flex-content{
      .exp-item{
        width: 100%;
        .image-container{
          .caption{
            .cap-overlay{
              width: 80%;
            }
          }
        }
      }
    }
  }

  .news-content{
    .post-item{
      .image-container{
        height: 30vh;
      }
    }
    .sidebar{
      margin-top: 5em;
      .widget.post-list-small{
        .flex-item-post{
          .left-block{
            .image-container{
              height: 8vh;
            }
          }
        }
      }
      .widget.list-chevron ul li>i{
        display: none;
      }
    }
  }

   .gallery{
    .modal-header{
      display: none;
    }
    .modal-dialog{
      max-width: 80%;
      .modal-content{
        top: 9em;
      }
    }
  }

  footer{
    .newsletter{
      display: none;
    }
  }
 
}

/* break-mobile */
@media screen and (max-width: 500px){
 .home-services{
    .home-services-right-block{
      .video-nav-block{
        top : 0;
      }
    }
    .home-services-left-block .styled-read{
      width: 80%;
    }
  }
  .banner.half-banner{
    .banner-container{
      .left-block {
        width: 100%;
        .social-icon ul li {
          margin-bottom: 0.5rem;
        }
        .image-container{
          .caption{
            left: 20%;
            .tagline {
              width: 95%;
              font-size: 13px;
            }
          }
        }
      }
      .right-block{
        display: none;
      }
    }
  }
  .about-profile{
    .about-block{
      flex-wrap: wrap;
      .about-left-block{
        width: 100%;
        position: inherit;
      }
      .about-right-block{
        width: 100%;
        position: inherit;
        margin: 0;
      }
    }
  }
  .vm-block{
    .vm-left-block{
      display: none;
    }
    .vm-right-block{
      width: 100%;
      .image-container .caption h3{
        font-size: 17px;
        line-height: 2rem;
      }
      .image-container{
        img{
          border-bottom-left-radius: 0;
        }
        .slick-slide:before {
          border-bottom-left-radius: 0;
        }
        .slick-list{
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  .banner.detail{
    .caption {
      h1{
        font-size: 20px !important;
      }
    }
    .action a{
      display: none;
    }
  }
  .gallery .modal-dialog {
      max-width: 95%;
  }
  .splide--fade>.splide__track>.splide__list>.splide__slide{
    height: 250px !important;
    width: 800px !important;
  }


}

/* break-small-mobile */
@media screen and (max-width: 375px){
  .banner.half-banner{
    .banner-container{
      .left-block {
        .image-container{
          .caption{
            display: none;
          }
        }
      }
    }
  }
}